<!DOCTYPE html>
<html>
<head>
  <title>Next</title>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <header>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h1>&#127911;</h1>
	<div class="signin">
  	<% if user_signed_in? %>
		Signed in as <%= current_user.email %> | <%= link_to "Playlists", playlists_path %> | Not you? <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "sign in", new_user_session_path %>
	<% end %>
	</div> 
  </header>

  <div class="container">

    <%= yield %>

  </div>

<footer> Copyright 2014 </footer>
</body>
</html>
